<div>
	<h1>ESave Database View (Development Only)</h1>
	<h2>Please Use the Select Input Below to View a Table</h2>
	<form action="/userTable" method="get" id="tableSelectorForm">
		<label for="tableViewRequest">Table Select:</label>
		<select id ="tableSelector" name="tableViewRequest">
			<option value="user">User</option>
			<option value="retailer">Retailer</option>
			<option value="product">Product</option>
			<option value="order">Order</option>
			<option value="order_product">Order_Product</option>
			<option value="order_promotion">Order_Product</option>
			<option value="review">Review</option>
			<option value="history">History</option>
			<option value="favorites_order">Favorites_Order</option>
			<option value="favorites_retailer">Favorites_Retailer</option>
			<option value="wish_list">Wish_List</option>
			<option value="message">Message</option>
			<option value="retailer_product">Retailer_Product</option>
			<option value="retailer_rating">Promotion_ECoupon</option>
		</select>	
		<button type="submit">Click Here to View Table</button>
	</form>
</div>
{{#each jsscriptsDevHomePage}}
	<script src="{{this}}"></script>
{{/each}}
<script defer>tableSelectFE();</script>