<div>
	<h1>Load Sample Data</h1>
	<h2>Please Enter Quantities Indicated and Press Submit</h2>
	<label for="products">Products</label>
	<input type="number" name="numProds" id="products" value="0" min="0"
		style="margin-top:50px;max-width:60px;text-align:center"></input>
	<label for="retailers">Retailers</label>
	<input type="number" name="numRets" id="retailers" value="0" min="0"
		style="max-width:60px;text-align:center"></input>
	<label for="retailer_products">Retailer_Products</label>
	<input type="number" name="numRetProds" id="retailer_products" value="0" min="0"
		style="max-width:60px;text-align:center"></input>
	<label for="promotions">Promotions</label>
	<input type="number" name="numPromos" id="promotions" value="0" min="0"
		style="max-width:60px;text-align:center"></input><br>
	<label for="password">Password</label>
	<input type="text" name="password" id="password" style="margin-top:30px"></input><br>
	<button id="submit" style="margin-top:10px">Submit</button>
	<form action="/dev1" method="get">
		<button class="homePage" type="submit" value="Home Page" name="Home Page"
			style="margin-left:0">Home Page</button>
	</form>
	<p id="results" style="margin-top:10px"></p>
	{{#each jsscriptsFaker}}
		<script src="{{this}}"></script>
	{{/each}}
</div>

<script defer>loadFakerData();</script>
