body {
	background-color: rgb(255, 254, 244);
  font-family: 'Righteous', cursive;
}

.navbar-button {
  font-size: 40px;
  color: rgb(255, 254, 244);
}

.navbar-button:hover {
  opacity: 0.9;
  color: rgb(39, 206, 100);
}

.banner-logo {
  height: 15%;
  width: 15%;
  border-radius: 5px;
}

.bg-light {
   background-color: purple !important;
}

.navbar-nav {
  margin-left: auto;
  margin-right: 15px;
}

#logged-in-message {
	color: rgb(255, 254, 244);
	font-size: 0.9rem;
	margin-top: 32px;
	margin-right: 10px;
}

.main-logo-outer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 140px;
}

.main-logo-inner-container {
  margin-left: auto;
  margin-right: auto;
}

.main-logo {
  border-radius: 5px;
  margin: auto;
  vertical-align: bottom;
}

#save-text {
  font-size: 6rem;
  color: purple;
  margin: auto;
}

.quantity-label {
  padding-top: 60px;
  padding-left: 40px;
  max-width: 57%;
  margin: auto;
}

.input-group {
  padding-left: 40px;
  padding-right: 40px;
  max-width: 60%;
  margin: auto;
}

#quantity {
  max-width: 110px;
  padding-left:10px;
  text-align:center;
}

.btn-outline-secondary {
  border-color: purple;
}

.btn-outline-secondary:hover {
  border-color: rgb(39, 206, 100);
}

.btn {
  color: purple;
  background-color: rgb(39, 206, 100);
  font-size: 1rem;
}

.btn:hover {
  color: rgb(39, 206, 100);
  background-color: purple;
}

#order-stage, #button-stage {
  padding-top: 40px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr; /* fraction*/
  max-width: 1250px;
  margin-left: auto;
  margin-right: auto;
}

#order-stage-left,
#order-stage-right {
  margin-left: auto;
  margin-right: auto;
  width: 500px;
}

#stage-wrapper-left,
#stage-wrapper-right {
	min-height: 300px;
	border-style: solid;
  border-width: 3px;
  border-radius: 25px;
  border-color: purple;
	padding: 25px;
	display: table;
	width: 500px;
}

.button-stage-wrapper {
	margin: auto;
	padding-top: 20px;
	width: 300px;
}

.order-stage-table-headings {
  padding: 20px;
  width: 285px;
  text-decoration: underline;
  font-size: 1.25rem;
}

.quantity-heading {
  text-decoration: underline;
  font-size: 1.25rem;
  width: 100px;
}

#order-stage-right {
  float: left;
  display: table;
  text-align: center;
  font-size: 1.5rem;
}

#order-stage-table {
  white-space: nowrap;
  margin-left: 10px;
  table-layout: fixed;
  width: 100%;
}

#order-stage-right-text {
  display: table-cell;
  vertical-align: middle;
}

.order-table {
	margin: auto;
}

.stage-table-cap {
	padding-bottom: 20px;
	caption-side: top;
	text-align: center;
	font-size: 2.5rem;
	color: purple;
	margin: auto;
}

#button-stage {
  padding-top: 20px;
}

#button-stage-left {
  padding-right: 25px;
  margin: auto;
  font-size: 4rem;
}

.fa-check-square {
  color: rgb(39, 206, 100);
}

.fa-times-circle {
  color: red;
  padding-left: 20px;
}

.fa-times-circle:hover {
  -webkit-transition: opacity .1s;
  -o-transition: opacity .1s;
  transition: opacity .1s;
	opacity: 0.5;
}

#esave-button {
  padding-left: 75px;
}

#esave-button:hover {
  -webkit-transition: color .3s;
  -o-transition: color .3s;
  transition: color .3s;
  color: purple;
}

#button-stage-right {
  margin: auto;
  margin-top: 0;
  font-size: 2rem;
}

.button-stage-right-button {
  padding-right: 25px;
  padding-left: 25px;
  color: purple;
}

.button-stage-right-button:hover {
  -webkit-transition: color .1s;
  -o-transition: color .1s;
  transition: color .1s;
  color: rgb(39, 206, 100);
}

#shopping-cart-outer {
  font-size: 5rem;
  width: 1000px;
  margin: auto;
  text-align: center;
  padding-bottom: 25px;
  width: 100px;
}

.fa-shopping-cart {
  background-image: -webkit-gradient( linear, left top, right top, color-stop(0, purple), color-stop(0.15, purple), color-stop(0.3, purple), color-stop(0.45, purple), color-stop(0.6, rgb(39, 206, 100)),color-stop(0.75, rgb(39, 206, 100)), color-stop(0.9, rgb(39, 206, 100)), color-stop(1, rgb(39, 206, 100)) );
  background-image: gradient( linear, left top, right top, color-stop(0, purple), color-stop(0.15, purple), color-stop(0.3, purple), color-stop(0.45, purple), color-stop(0.6, rgb(39, 206, 100)),color-stop(0.75, rgb(39, 206, 100)), color-stop(0.9, rgb(39, 206, 100)), color-stop(1, rgb(39, 206, 100)) );
  color:transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.fa-sync {
	font-size: 2.75rem;
	background-image: -webkit-gradient( linear, left top, right top, color-stop(0, purple), color-stop(0.15, purple), color-stop(0.3, purple), color-stop(0.45, purple), color-stop(0.6, rgb(39, 206, 100)),color-stop(0.75, rgb(39, 206, 100)), color-stop(0.9, rgb(39, 206, 100)), color-stop(1, rgb(39, 206, 100)) );
	background-image: gradient( linear, left top, right top, color-stop(0, purple), color-stop(0.15, purple), color-stop(0.3, purple), color-stop(0.45, purple), color-stop(0.6, rgb(39, 206, 100)),color-stop(0.75, rgb(39, 206, 100)), color-stop(0.9, rgb(39, 206, 100)), color-stop(1, rgb(39, 206, 100)) );
	color:transparent;
	-webkit-background-clip: text;
	background-clip: text;
}

#retailer-link {
	color: black;
}

#retailer-link:hover {
	text-decoration: none;
	color: black;
}

#inner-checkout-message-link-container {
	margin: auto;
	text-align: center;
	padding-bottom: 30px;
	-webkit-text-decoration: italic;
	        text-decoration: italic;
	display: none;
}

.disable_a_href{
    pointer-events: none;
}

.list-add {
	color: purple;
}

.list-add:hover {
  -webkit-transition: color .15s;
  -o-transition: color .15s;
  transition: color .15s;
  color: rgb(39, 206, 100);
}

.list-add-input {
    font-size: 1rem;
    border-radius: 5px;
		border-color: purple;
		width: 242px;
}

.list-button-description {
	font-style: italic;
	padding-right: 10px;
	font-size: 0.8rem;
}
