<!--
<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>ESave Search</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="../../public/sparkle.css"></script>
  <link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="../../public/searchStyle.css"></script>

  </head>
-->

  <body>
    <nav class="navbar navbar-expand navbar-light bg-light">
      <!--<a class="navbar-brand" href="#"><img src="../../public/images/logo.jpg" class="banner-logo"></a>-->
      <a class="navbar-brand" href="#"><img src="{{navbarLogo}}" class="banner-logo"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#"><i class="fas fa-user"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><i class="fas fa-cog"></i></a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="main-logo-outer-container">
      <div class="main-logo-inner-container">
        <!--<img src="../../public/images/logo-medium.jpg" class="main-logo"><span id="save-text">$ave</span>-->
        <img src="{{mainLogo}}" class="main-logo"><span id="save-text">$ave</span>
      </div>
    </div>

    <div class="quantity-label">Quantity</div>
    <div class="input-group mb-3">
      <input type="number" label="Quantity" id="quantity" class="form-control" min="1" value="1">
      <input type="text" class="form-control" placeholder="Enter product name, model, upc, or description..."
       aria-describedby="basic-addon2" id="prodInput">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button">+</button>
      </div>
    </div>

    <div id="order-stage">
      <div id="order-stage-left">
        <div id="stage-wrapper-left">
          <table id="order-stage-table">
            <thead>
              <tr>
                <th class="order-stage-table-headings" scope="col">Searching For</th>
                <th class="order-stage-table-headings quantity-heading" scope="col">Quantity</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
        </div>
        <div class="button-stage-wrapper">
          <div id="button-stage-left">
            <i id="esave-button" class="fas fa-check-square"></i>
            <i id="clear-button" class="fas fa-times-circle"></i>
          </div>
        </div>
      </div>
      <div id="order-stage-right">
        <div id="stage-wrapper-right">
          <span id="order-stage-right-text">
            Click "<i class="fas fa-check-square"></i>" to ESave staged order...</span>
        </div>
        <div class="button-stage-wrapper">
          <div id="button-stage-right">
            <i class="fab fa-facebook button-stage-right-button"></i>
            <i class="fab fa-twitter-square button-stage-right-button"></i>
            <i class="fas fa-envelope button-stage-right-button"></i>
          </div>
        </div>
      </div>
    </div>

    <div id="shopping-cart-outer">
      <a href="" target="_blank" id="retailer-link" class="disable_a_href">
        <div id="shopping-cart-inner" class="sparkley">
          <i class="fas fa-shopping-cart"></i>
        </div>
        <div id="inner-checkout-message-link-container">
          Click here for checkout!
        </div>
      </a>
  </div>

  <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  {{#each jsscriptsSearchPage}}
		<script src="{{this}}"></script>
	{{/each}}
  <script defer>eSave();</script>

  <!-- References
    * https://stackoverflow.com/questions/2123788/applying-a-css-style-to-several-patterns
    * https://www.w3schools.com/css/css_positioning.asp
    * https://stackoverflow.com/questions/5473796/multiple-important-class-declarations-and-precedence
    * https://stackoverflow.com/questions/2123788/applying-a-css-style-to-several-patterns
    * https://www.w3schools.com/tags/att_font_color.asp
    * https://stackoverflow.com/questions/7693224/how-do-i-right-align-div-elements
    * https://stackoverflow.com/questions/17481660/darken-background-image-on-hover
    * https://stackoverflow.com/questions/23715881/center-text-in-html-number-input
    * https://stackoverflow.com/questions/2156712/how-to-float-3-divs-side-by-side-using-css
    * https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Grid_Layout/Basic_Concepts_of_Grid_Layout
    * https://www.w3docs.com/snippets/css/how-to-vertically-center-text-with-css.html
    * https://www.w3schools.com/css/css3_animations.asp
    * https://www.w3schools.com/css/css3_gradients.asp
    * https://stackoverflow.com/questions/37831837/gradient-text-color
    * https://www.w3schools.com/cssref/pr_text_text-decoration.asp
    -->
  </body>

  <!--<script src="../../public/sparkle.jquery.js"></script>
  <script src="../../public/search.js"></script>
  <script src="../../public/eSave.js"></script>
  <script defer>eSave();</script>-->
