<html>

<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <link rel="stylesheet" type="text/css" href="../../public/loginStyle.css" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
</head>

<body>

  <div class="main-logo-outer-container">
    <div class="main-logo-inner-container">
      <!-- <img src="logo-medium.jpg" class="main-logo"><span id="save-text">$ave</span> -->
      <img src="{{mainLogo}}" class="main-logo"><span id="save-text">$ave</span>
    </div>
  </div>
  <br />

  <form id="login-page" action="/login" method="post">

    <br />
    <h2 align="center">User Login</h2>

    <div class="container">
      <label for="uname"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="uname" required>
      <br />
      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" required>

      <button type="submit">Login</button>
      <label>
      <input type="checkbox" checked="checked" name="remember"> Remember me
    </label>
    </div>

    <div class="container" style="background-color:#f1f1f1">
      <button type="button" class="cancelbtn">Register</button>
      <span class="psw"><a href="#">Forgot password?</a></span>
    </div>
  </form>
</body>

</html>

<!--
References
https://www.w3schools.com/howto/howto_css_login_form.asp

 -->
