<body>
    <div class="main-logo-outer-container">
        <div class="main-logo-inner-container">
            <img src="images/logo-medium.jpg" class="main-logo"><span id="save-text">$ave</span>
        </div>
    </div>
    <br />
    <div id=profile-wrapper>
        <br />
        <div class="container">
            <ul style="list-style-type:none">
                <li><i class="fas fa-user"></i>{{user.first_name}} {{user.last_name}}</li>
                <br>
                <a href ='/search'><li>PRODUCT SEARCH</li></a>
                <a href ='#'><li>HISTORY</li></a>
                <a href ='#'><li>FAVORITES</li></a>
                <a href ='#'><li>MESSAGES</li></a>
                <a href ='/profile'><li>PROFILE SETTINGS</li></a>
                <a href ='/promotion'><li>RECOMMENDED FOR YOU</li></a>
                <a href ='#'><li>WISH LIST</li></a>
            </ul>
        </div>
        <div class="container" style="background-color:purple">
        </div>
    </div>
    <a href="/logout"><button>Logout</button></a>
    <footer>
    	<div id="button-container" align="center">
	<ul>
        	<i class="fab fa-facebook social-button"></i>
        	<i class="fab fa-twitter-square social-button"></i>
        	<i class="fas fa-envelope social-button"></i>
	</ul>
    	</div>
    </footer>
</body>
